html {
    min-height: 100vh;
}

body {
    background: rgb(252,94,85);
    background: linear-gradient(45deg, rgba(252,94,85,1) 25%, rgba(250,64,131,1) 85%);
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 20px;
    color: white;
}

.container {
    width: 1000px;
    /* background-color: lightslategray; */
    min-height: 100vh;
    margin: 0 auto;
}

header {
    /* background-color: lightslategray; */
    min-height: 10vh;
    display: flex;
    align-items: center;
    padding: 25px 0;
}

.logo {
    flex: 80%;
}

nav {
    flex: 20%;
}

nav li {
    display: inline;
}

main {
    /* background-color: slategray; */
    min-height: 40vh;
}

.hero {
    display: flex;
    align-items: center;
    min-height: 40vh;
    text-align: justify;
}

.herobox {
    flex: 1;
}

.herobox-f2 {
    flex: 2;
    padding: 25px;
}

.cards {
    background-color: lightslategray;
    min-height: 40vh;
    display: flex;
    justify-content: space-between;
}

.card1 {
    background-color: lightgreen;
    min-height: 40vh;
    flex: 1;
}

.card2 {
    background-color: green;
    min-height: 40vh;
    flex: 1;
}

.card3 {
    background-color: darkgreen;
    min-height: 40vh;
    flex: 1;
}

footer {
    background-color: slategray;
    min-height: 10vh;
}

h1 {
    font-size: 60px;
    font-family: 'Tangerine', serif;
    margin-bottom: 25px;
}

.herobox-f2 h1 {
    font-size: 60px;
    font-weight: bold;
    background: -webkit-linear-gradient(rgb(255, 255, 255), rgb(200, 200, 200));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p {
    font-family: 'Roboto Flex', sans-serif;
    margin-bottom: 25px;
}