.container {
    width: 1000px;
    background-color: lightslategray;
    min-height: 100vh;
    margin: 0 auto;
}

header {
    background-color: lightslategray;
    min-height: 10vh;
}

main {
    background-color: slategray;
    min-height: 40vh;
}

.hero {
    display: flex;
    align-items: center;
    min-height: 40vh;
}

.herobox {
    flex: 1;
}

.herobox-f2 {
    flex: 2;
}

.cards {
    background-color: lightslategray;
    min-height: 40vh;
    display: flex;
    justify-content: space-between;
}

.card1 {
    background-color: lightgreen;
    min-height: 40vh;
    flex: 1;
}

.card2 {
    background-color: green;
    min-height: 40vh;
    flex: 1;
}

.card3 {
    background-color: darkgreen;
    min-height: 40vh;
    flex: 1;
}

footer {
    background-color: slategray;
    min-height: 10vh;
}