:root {
    accent-color: lightcoral;
}

html {
    background: rgb(252,94,85);
    background: linear-gradient(90deg, rgba(252,94,85,1) 25%, rgba(250,64,131,1) 85%);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

body {
    background: url('./img/image-lion-background.png') no-repeat;
    background-position: top center;
    background-attachment: fixed;
    font-size: 1.2rem;
    color: white;
}

.container {
    width: 1000px;
    /* background-color: lightslategray; */
    min-height: 100vh;
    margin: 0 auto;
}

header {
    /* background-color: lightslategray; */
    min-height: 10vh;
    display: flex;
    align-items: center;
    padding: 25px 0;
    border-bottom: 1px solid white;
}

.logo {
    flex: 2;
}

nav {
    flex: 1;
}

nav button {
    color: white;
    background-color: transparent;
    position: relative;
}

nav button:hover div.dropdown-menu {
    display: block;
}

nav li {
    display: inline;
}

main {
    /* background-color: slategray; */
    min-height: 40vh;
}

.hero {
    display: flex;
    align-items: center;
    min-height: 40vh;
    text-align: justify;
}

.herobox {
    flex: 1;
    position: relative;
    cursor: pointer;
    user-select: none;
}

.herobox img {
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.651);
}

#herobox-img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 98.89%;
    background-color: rgba(0, 0, 0, 0.445);
    z-index: 1;
}

#herobox-img-text {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.herobox-f2 {
    flex: 2;
    padding: 50px;
    padding-left: 0;
}

.herobox-f2 h1 {
    font-size: 2.8rem;
    font-family: 'Oswald', sans-serif;
}

.cards {
    /* background-color: lightslategray; */
    min-height: 30vh;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.cards h2 {
    font-size: 1.8rem;
}

.cards i {
    margin-bottom: 15px;
}

.cards p {
    font-size: 1rem;
    line-height: 1rem;
}

.cards a {
    text-decoration: none;
    color: white;
}

.card1 {
    /* background-color: lightgreen; */
    background: url('./img/image-background-card1.jpg') no-repeat;
    background-size: cover;
    background-position: bottom;
}

.card2 {
    /* background-color: green; */
    background: url('./img/image-background-card2.jpg') no-repeat;
    background-size: cover;
    background-position: bottom;    
}

.card3 {
    /* background-color: darkgreen; */
    background: url('./img/image-background-card3.jpg') no-repeat;
    background-size: cover;
    background-position: bottom;    
}

.card1, .card2, .card3 {
    min-height: 30vh;
    width: 30%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    box-sizing: border-box;
    transition: 0.2s padding, 1s margin;
    margin-bottom: 15px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.651);
}

.card1:hover, .card2:hover, .card3:hover {
    padding: 10px;
    margin-top: 15px;
}

footer {
    /* background-color: slategray; */
    min-height: 10vh;
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.788);
    text-align: center;
}

footer p {
    font-size: inherit;
}

h1 {
    font-size: 3.75rem;
    font-family: 'Tangerine', serif;
    margin-bottom: 1.5625rem;
}

h2 {
    font-size: 2.75rem;
    font-family: 'Tangerine', serif;
    margin-bottom: 0.5625rem;
}

p {
    font-family: 'Roboto Flex', sans-serif;
    margin-bottom: 1.5625rem;
    line-height: 1.6rem;
}

button {
    padding: 10px 20px;
    color: lightcoral;
    border: 1px solid white;
    box-shadow: 0px 1px 4px rgba(255, 255, 255, 0.651);
    background-color: white;
    transition: 1s background-color;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    color: white;
    background-color: lightcoral;
}

button a {
    text-decoration: none;
    color: inherit;
}

.testimonials {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    min-height: 40vh;
    position: relative;
    margin-bottom: 20px;
}

.testimonial {
    box-sizing: border-box;
    padding: 25px 15px;
    border: 1px solid white;
    /* min-height: 20vh; */
    width: 46%;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: 1s background-color;
    cursor: pointer;
    margin: 20px;
}

.testimonial p:first-child {
    text-align: left;
    font-style: italic;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    line-height: 1.2rem;
    width: 100%;
}

.testimonial p:last-child {
    text-align: right;
    font-style: italic;
    color: rgb(231, 231, 231);
    font-size: 0.8rem;
    line-height: 0.8rem;
    width: 100%;
}

.testimonial:hover {
    background-color: lightcoral;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    z-index: 2;
    display: none;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 10px;
}

.dropdown-item {
    background-color: white;
    color: lightcoral;
    padding: 5px 35px;
    transition: 1s background-color, 0.5s color;
}

.dropdown-item:hover {
    background-color: rgba(255, 255, 255, 0.603);
    color: white;
    text-shadow: 1px 0px 1px lightcoral, -1px 0px 1px lightcoral, 0px 1px 1px lightcoral, 0px -1px 1px lightcoral;
}

.dropdown-item a {
    text-decoration: none;
    color: inherit;
    width: 100%;
}

/* Contact page custom content */

.main-contact {
    margin-bottom: 60px;
    padding: 15px 30px;
    border-bottom: 1px solid white;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid white;
}

.form-contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
}

input[type=text], textarea, select {
    padding: 10px 0px 10px 10px;
    border: 1px solid white;
    margin-bottom: 10px;
    background-color: rgb(78, 78, 78);
}

textarea {
    padding: 10px;
    resize: vertical;
}

input[type=text]::placeholder, textarea::placeholder, select {
    color: white;
    font-size: 0.8rem;
    line-height: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
}

input[type=submit] {
    color: white;
    background-color: rgb(78, 78, 78);
    font-size: 1rem;
    line-height: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 5px;
    border: 1px solid white;
    cursor: pointer;
}

label {
    margin-bottom: 5px;
}